@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	body {
		@apply bg-gray-darkest text-white-darkest;
		font-family: "Inter", sans-serif;
	}
	.article_item:hover h1,
	.bookmark_item:hover h1 {
		@apply underline;
	}
	.contact_social_media li::before {
		content: "-";
		margin-right: 1rem;
		display: inline-block;
		color: rgb(161, 161, 165);
	}
	.contact_social_media li p {
		display: inline-block;
	}
	.footer_link {
		@apply text-blue-neo;
	}
	.footer_link:hover {
		@apply underline;
	}
}
